<h1 class="titlename">TuneMentor</h1>
<div class="container mt-5 center-div">
  <h1 class="text-center">Register</h1>
  <div class="row d-flex justify-content-center">
    <div class="col-md-6">
      <div class="card px-5 py-5" id="form1">
        <div class="form-data">
            <div class="form-outline mb-4">
              <input type="email" id="form2Example1" class="form-control" [(ngModel)]="email"/>
              <label class="form-label" for="form2Example1">E-mail</label>
            </div>
            <div class="form-outline mb-4">
              <input type="password" id="form2Example2" class="form-control" [(ngModel)]="password"/>
              <label class="form-label" for="form2Example2">Password</label>
            </div>
            <button type="button" class="btn btn-primary btn-block mb-4" (click)="register()">Register</button>
            <hr>
            <a href="/login" style="text-decoration: none;">Already have an account? <span class="reg">Sign in</span></a>
        </div>
      </div>
    </div>
  </div>
</div>
<hr><hr><hr><hr>
