/* You can add global styles to this file, and also import other style files */
html {
  background: #010203;
}

body {
    margin: 0;
    padding: 0;
    background: #010203;
    border-radius: 25px; /* Radio de las esquinas redondeadas */
    font-family: 'Montserrat', sans-serif;
}

.center-div {
    align-items: center;
    height: 80vh;
}

.card.px-5.py-5 {
    background-color: #212121;
    border-radius: 30px;
}

.content {
    padding: 20px;
}

h1.text-center{
    font-weight: bold;
}

.btn.btn-primary.btn-block.mb-4 {
    background-color: #9a1db9;
    border-color: #9a1db9;
}

label, .text-danger, a, h1 {
    color: white;
}

span.reg {
    color: rgb(182, 182, 182);
    font-weight: bold;
    text-decoration: underline;
}
