.flippable-card {
  width: 250px;
  height: 350px;
  perspective: 1000px;
  /* Perspective for 3D effect during flipping. */
}

.flippable-card .card-front,
.flippable-card .card-back {
  width: 100%;
  height: 100%;
  position: absolute;
  backface-visibility: hidden;
  transition: transform 0.5s; /* Control the flip animation speed here. */
}

.flippable-card .card-front {
  background-color: #3498db; /* Front card background color. */
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.flippable-card .card-back {
  background-color: #e74c3c; /* Back card background color. */
  color: white;
  transform: rotateY(180deg); /* Start as flipped away. */
  display: flex;
  align-items: center;
  justify-content: center;
}

.flippable-card.flipped .card-front {
  transform: rotateY(180deg);
}

.flippable-card.flipped .card-back {
  transform: rotateY(0deg);
}
.flippable-card {
  width: 400px;
  height: 620px;
}
.flippable-card .card-front {
  background: #212121;
  color: white;
  padding: 10px;
}

.img-card {
  width: 400px;
  height: 400px;
  align-self: center;
  padding-bottom: 20px;

}

.card-text {
  font-size: large;
  align-self: center;
  justify-content: center;
  padding-left: 10px;
  font-family: 'Montserrat', sans-serif;
}

.card-content {
  display: flex;
  flex-direction: column;
}

.flippable-card .card-back {
  background: #212121;
  justify-content: center;
  text-align: center;
  color: white;
  padding: 10px;
  font-family: 'Montserrat', sans-serif;
}
.flippable-card .card-front {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #212121;
  color: white;
  padding: 10px;
  cursor: pointer;
  box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.2);
}

.flippable-card .card-back {
  background: #212121;
  color: white;
  box-shadow: 0px 4px 40px rgba(214, 186, 186, 0.2);
}
.flippable-card .card-front button {
  font-size: 22px; /* Adjust the font size to make the button bigger. */
  padding: 10px 20px; /* Adjust padding for the button. */
  background-color: salmon;
  margin-top: 350px;
  margin-right: -6px;
  width: 200px;
  height: 80px;
  padding-right: 15px;

}
